<%= form_with model: post, remote: true do |form| %>
 
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
